.site-header {
  .nav-item {
    padding-right: 2rem;
  }
  .navbar-dark {
    background-color: $tertiary;
  }
  .dropdown-menu {
    .nav-item {padding-right: 0;}
  }
}

#search_form {
  .search-input {
    text-align: right;
    border-width: 0;
    padding-right: 10px;
    background-color: transparent;
    transition: ease-in-out all .3s;
    max-width: 150px;

    &:focus {
      background-color: $secondary;
      color: $body-bg;
      box-shadow: none;
      &::placeholder {color: $body-bg; }
    }
  }
}

.nav-link-featured {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.27);
  }
  &:hover {
    &::after {
      opacity: 0;
    }
  }
}