
/* --------------------------------------------------------------
15.0 Content
-------------------------------------------------------------- */


.home .entry-header,
.archive .entry-header,
.search .entry-header,
.error404 .entry-header {
	max-width: 70%;
	margin-bottom: 4%;

	@include viewport(tablet) {
		max-width: 100%;
		margin-bottom: 8%;
	}
}

.error404 .entry-header {
	margin-bottom: 0;
}

.entry-header p:last-child {
	margin-bottom: 0;
}

.single #page {
	margin: 0 auto;
}

.single .content-area,
.page .content-area {
	display: inline-block;
	width: 70%;

	@include viewport(tablet) {
		width: 100%;
	}
}

.page-template-full-width .content-area {
	width: 100%;
}

.no-sidebar .content-area {
	margin: 0 auto;
	display: block;
}

.entry-content .page-links {
	clear: both;
	margin: 0 0 1.4em;

	a {
		border-bottom-width: 2px;
		padding: 0 2px;
	}
}

.featured-image {
	margin-bottom: 1.5em;
	display: block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}

	img {
		display: block;
		-webkit-transform: translate3d(0,0,0);
		transition: .07s ease-in-out;
	}

	&:hover img {
		opacity: .95;

		@include viewport(mobile) {
			opacity: 1;
		}
	}
}

.featured-video {
	margin-bottom: 1.5em;
	display: inline-block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}
}

.entry-excerpt {
	font-family: $serif;
	font-size: 20px;
	color: $gray;
	display: inline-block;
	width: 100%;
	margin-bottom: .8em;
	line-height: 1.8;
	position: relative;

	&:after {
		content: " ";
		display: inline-block;
		width: 50px;
		height: 3px;
		background: #e3eaef;
	}

	@include viewport(mobile) {
		font-size: 18px;
		margin-bottom: .6em;
	}

	p {
		margin-bottom: .8em;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.content-area {
	display: inline-block;
	vertical-align: top;
	width: 100%;

	@include viewport(tablet) {
		width: 100%;
	}
}

body:not(.page-template-default) .home .content-area,
body:not(.page-template-default) .archive .content-area {
	width: 100%;
}

.entry-header {
	position: relative;
	margin-bottom: 5%;

	@include viewport(tablet) {
		margin-bottom: 8%;
	}
}

.page .entry-header {
	margin-bottom: 1.4em;
}

.entry-title {
	font-family: $serif;
	font-size: 58px;
	margin-bottom: 0;
	line-height: 1.2;

	@include viewport(tablet) {
		font-size: 44px;
	}

	@include viewport(mobile) {
		font-size: 32px;
		margin-bottom: 15px;
		line-height: 1.2;
	}

	a {
		color: $black;
		text-decoration: none;

		transition: .1s ease-in-out;

		&:hover {
			color: #62707c;
		}
	}
}

.wf-loading .entry-header .entry-title,
.wf-active .entry-header .entry-title {
	font-size: 62px;

	@include viewport(tablet) {
		font-size: 46px;
	}

	@include viewport(mobile) {
		font-size: 34px;
	}
}

.byline {
	@include sans-uppercase;
	color: #62707c;
	letter-spacing: 2px;
	margin-top: 20px;

	@include viewport(mobile) {
		display: inline-block;
		margin-top: 0;
		font-size: 12px;
	}

    a {
    	color: #667480;
    	border-bottom: 2px solid transparent;
    	transition: .2s ease;
    	padding-bottom: 2px;

        &:hover {
        	border-bottom: 2px solid #e3eaf0;
        }
    }

}

.byline span {
	position: relative;
	margin-right: 12px;
	padding-right: 20px;

	&:after {
		content: "/";
		position: absolute;
		right: 0;
		top: -3px;
		color: #BCCBDA;
	}

	&:last-child:after {
		display: none;
	}

	&:last-child:before {
		content: "\f0e5";
		font-family: "FontAwesome";
	}

	@include viewport(mobile) {
		margin-right: 6px;
		padding-right: 10px;

		&:last-child {
			display: inline-block;
			width: 100%;
		}

		&:nth-child(2):after {
			display: none;
		}
	}
}

.entry-header .entry-title + .entry-content {
	margin-top: 2%;
}

.entry-meta {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.meta-list {
	margin: 0 0 6% 0;
	list-style-type: none;
	font-size: 16px;
	color: #848a96;

	@include viewport(mobile) {
		margin-bottom: 8%;
	}

	li {
		display: inline;
		vertical-align: top;
		margin-right: 20px;

		@include viewport(mobile) {
			display: inline-block;
			width: 100%;
		}
	}

	strong {
		color: $black;
		display: inline-block;
		width: 100%;
	}

	a {
		color: #848a96;
		&:hover {
			color: $black;
		}
	}
}

.meta-tag:before {
	content: "\f097";
	font-family: "FontAwesome";
	font-size: 13px;
	padding-right: 5px;
	padding-left: 1px;
}

.meta-cat:before {
	content: "\f114";
	font-family: "FontAwesome";
	font-size: 13px;
	padding-right: 5px;
}

.meta-cat + .meta-tag {
	margin-top: 10px;

	@include viewport(mobile) {
		margin-top: 5px;
	}
}

.entry-content {
	vertical-align: top;
}

.post .entry-content form {
	background: #eaf1f5;
	padding: 8%;
}

.entry-content a {
	color: $black;
	padding-bottom: 2px;
	border-bottom: 2px solid #6BC3F0;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	transition: .2s ease;
}

.entry-content a:hover {
	border-bottom: 2px solid $black;
}

.entry-content a.no-underline,
.entry-content a.no-underline:hover {
	border-bottom: none;
}
