/* --------------------------------------------------------------
3.0 Elements
-------------------------------------------------------------- */

hr {
	background-color: transparent;
	border: 0;
	border-bottom: dotted 1px #c7d6e4;
	height: 1px;
	margin: 1.6em 0;
}

ul, ol {
	margin: 0 0 1.4em 25px;
}

ul {
	list-style: circle;
}

ol {
	list-style: decimal
}

ul ul, ol ol, ul ol, ol ul {
	margin: .6em 0 .6em 1.5em;
}

.sub-menu,
.main-navigation .children {
	display: none;
}

.entry-content li {
	margin-bottom: 2%;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

/* Tables */
table {
	font-size: 18px;
	margin-bottom: 5%;
	padding: 0;
	width: 100%;
}

table thead {
	background: #eaf1f5;
	th {
		font-weight: bold;
	}
}

table td, #content table th {
	padding: 10px;
}

table td {
	border-bottom: solid 1px #eaf1f5;
}

table tr:last-child td {
	border-bottom: none;
}

table tr:nth-child(even) {
	background: #eaf1f5;
}
