.site-header {
  color: #16151a;
  background-color: none;
  border-bottom: 1px solid lighten($tertiary, 15%);
  font-family: $font-family-serif;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  .nav-item {
    padding-right: 2rem;
  }
  .navbar-dark {
    background-color: $tertiary;

  }
}

#search_form {
  .search-input {
    text-align: right;
    border-width: 0;
    padding-right: 10px;
    background-color: transparent;

    &:focus {
      background-color: $secondary;
      color: $body-bg;
      box-shadow: none;
      &::placeholder {color: $body-bg; }
    }
  }
}
