.site-header {
  opacity: 0;
  .site-title {
    font-size: 1.25rem;
    letter-spacing: 4px;
  }
  .site-branding {padding-top: 10px;}
}


#sidebar-checkbox:checked + .page-sidebar {
  visibility: visible;
  .site-header {opacity: 1;}
}
