
/* --------------------------------------------------------------
11.0 Infinite scroll
-------------------------------------------------------------- */

#infinite-handle {
	display: none;
	text-align: center;

	@include viewport(mobile) {
		display: inline-block;
		width: 100%;

		span {
			width: 100%;
		}
	}
}

#page #infinite-handle span {
	display: inline-block;
	background: none;
	color: $black;
	font-size: 34px;
	padding: 0;
	line-height: 1;

	button {
		letter-spacing: 0;
		height: 150px;
		width: 150px;
		border: solid 3px #444;
		border-radius: 100px;
		font-size: 15px;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		font-weight: 600;
		-webkit-transition: .15s ease-in-out;
		-moz-transition: .15s ease-in-out;
		transition: .15s ease-in-out;

		&:hover,
		&:active,
		&:focus {
			color: #62707c;
			border: solid 3px #62707c;
			font-size: 15px;
			font-weight: 600;
		}

		@include viewport(mobile) {
			height: 125px;
			width: 125px;
			font-size: 14px;

			&:hover,
			&:active,
			&:focus {
				font-size: 14px;
			}
		}
	}
}

.wf-loading #page #infinite-handle button,
.wf-active #page #infinite-handle button {
	font-weight: 500;
	font-size: 17px;

	&:hover,
	&:active,
	&:focus {
		color: #62707c;
		font-weight: 500;
		font-size: 17px;
	}
}

.wf-loading button,
.wf-active button {
	&:hover,
	&:active,
	&:focus {
		font-weight: 500;
	}
}

.infinite-scroll:not(.gallery-page) .paging-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-handle i {
	margin-right: 5px;
}

.spinner {
	left: 50% !important;
}
