body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  padding-top: 10px;
  position: relative;
  transition: margin .3s ease-in-out;
  transition: transform .3s ease-in-out;

  .page-container-inner {
    margin: 0 auto;
    transition: margin .3s ease-in-out;
  }
}

.screen-reader-text,
.image-full {
  display: none;
}

.fsr-holder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  overflow-x: hidden;
}

.page-header {
  background-color: $tertiary;
  color: rgba($white, .5);
  border-bottom: 1px solid lighten($tertiary, 15%);
  .page-title {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
  }
}

