.navbar-filter {
  color: #16151a;
  background-color: none;
  border-bottom: 1px solid #16151a;

  font-family: $font-family-serif;
  text-transform: uppercase;

  .nav-item {
    padding-right: 2rem;
  }
}

#search_form {
  .search-input {
    text-align: right;
    border-width: 0;
    padding-right: 10px;
  }
}
