
// Colors
$yellow: #febf4b;
$white: #fff;
$body-bg: #09080d;
$body-color: #d2d2d8;
$primary: #d2d2d8 !default;
$secondary: #febf4b !default;

$font-family-sans-serif: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "orator-std", "Helvetica Neue", Arial, sans-serif;

$font-size-base: 1.15rem;
$line-height-base: 1.9;
$letter-spacing: 0.05em;

$headings-font-family: $font-family-sans-serif;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$grid-gutter-width: 10px;


// Forms
$input-bg: $body-bg !default;
$input-disabled-bg: $body-bg !default;
$input-color: $white !default;
$input-border-color: lighten($body-bg, 15%) !default;
$input-focus-border-color: $yellow !default;
