
// Colors
$teal: #1AA09C;

$body-bg: #09080d;
$body-color: #5b5c61;

$primary: #fff !default;
$secondary: #febf4b !default;
$font-family-sans-serif: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "freight-text-pro", "Helvetica Neue", Arial, sans-serif;
$font-size-base: 1.15rem;
$line-height-base: 1.9;
$grid-gutter-width: 10px;
$letter-spacing: 0.03em;

$headings-font-family: $font-family-serif;
