.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 1rem;

  .nav-previous,
  .nav-next {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    a {
      display: block;
      background-color: $primary;
    }
  }
}
